*{
    padding: 0;
    margin: 0;
}
body {
    background: black;
}

div {
    color: white;
    font-size: 50px;
    position: relative;
    font-family: 'Press Start 2P', cursive;
}

button {
    background-color: #ff0000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    margin-left: 300px;
}

.jumpButton {
background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  margin-left: 900px;
}

#game{
    width: 1920px;
    height: 800px;
    border: 1px solid black;
    background-image: url('assets/background.gif');
    background-repeat: no-repeat;
    background-size: 1920px 800px;
}
  
#character{
    width: 300px;
    height: 300px;
    background-image: url('assets/soldier.gif');
    background-color: transparent;
    background-size: 300px;
    background-repeat: no-repeat;
    position: relative;
    top: 300px;
    
}
.animate{
    animation: jump 500ms infinite;
}
#block {
    width: 150px;
    height: 150px;
    background-color: transparent;
    background-image: url('assets/alien.png');
    background-size: 150px 150px ;
    background-repeat: no-repeat;
    position: relative;
    top: 150px;
    left: 1550px;
    animation: block 1s infinite linear ;
}

@keyframes block {
    0%{left: 1500px;}
    100%{left: -10px;}
}

@keyframes jump{
    0%   {top: 150px;}
    50%  {top: 100px;}
    70% {top: 100px;}
    100% {top: 200px;}
}
